

#dice{
  button {
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 50px;
}}

#dice-box,
#dice-box canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
  width: 600px;
  height: 600px;
}

.buttonList {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 5px;
  row-gap: 10px;
}
.header {
  font-weight: bold;
  font-size: 120%;
  text-decoration: underline;
}
.notation {
  font-weight: bold;
}
